/* CONFIGURACION */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

:root {
  /* Colores Primarios */
  --rojo_b: rgb(242, 95, 58);
  --azul_o: rgb(35, 44, 81);
  /* Colores Neutros */
  --azul_g_o: rgb(143, 148, 167);
  --azul_m_o: rgb(29, 30, 37);
  --rojo_m_p: rgb(255, 239, 234);
  --gris_c: rgb(249, 249, 249);
  --Be_Vietnam: 'Be Vietnam', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--Be_Vietnam);
}

/* Estilos del Body */

body {
  background-image: url("../img/bg-tablet-pattern.svg");
  background-position: 115% 111%;
  background-size: contain;
}

button {
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: var(--rojo_b);
  padding: 0.8rem 0.8rem;
  border-radius: 50px;
  box-shadow: 0 0.2rem 1rem var(--rojo_b);
  transition: all 0.8s;
}

/* Estilos del Header */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header img {
  margin: 4rem 0;
}

header .menu ul {
  display: flex;
}

header .menu ul li {
  list-style: none;
}

header .menu ul li a {
  color: var(--azul_o);
  text-decoration: none;
  transition: all 0.5s;
  margin: 0 1rem;
}

header .fa-bars {
  display: none;
}

/* Estilos del Main Sección Principal*/

main .principal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .principal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

main .principal .content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--azul_o);
  line-height: 3.1rem;
  margin-bottom: 1.5rem;
  width: 35vw;
}

main .principal .content p {
  width: 30vw;
  margin-bottom: 1.5rem;
}

main .principal .content img {
  width: 19rem;
}

/* Estilos del Main Sección Media*/

main .media {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .media .content {
  padding: 4rem;
}

main .media .content h2 {
  color: var(--azul_o);
  font-size: 2rem;
  width: 35vw;
}

main .media .content .funtion {
  width: 35vw;
}

main .media .content h6 {
  color: var(--azul_o);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  width: 35vw;
}

main .media .content .content_item {
  display: flex;
  position: relative;
}

main .media .content .content_item .item {
  position: absolute;
  left: -6rem;
  top: -3rem;
  color: #ffffff;
  background-color: var(--rojo_b);
  border-radius: 50px;
  padding: 0.7rem 1.5rem;
  width: min-content;
}

main .media .content .content_item p {
  color: var(--azul_g_o);
  margin-top: 1rem;
  width: 35vw;
}

/* Estilos del Main Sección Social*/

main .social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .social .content_social {
  display: flex;
  width: 90vw;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 2rem auto;
  text-align: center;
}

main .social .content_social article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--gris_c);
  padding: 1rem;
  margin-top: 8rem;
  max-width: 28rem;
  min-width: 18rem;
}

main .social .content_social article img {
  position: absolute;
  top: -8rem;
}

main .social .content_social article h6 {
  color: var(--azul_o);
  font-size: 1rem;
}

main .social .content_social article p {
  color: var(--azul_g_o);
  text-align: center;
  max-width: 28vw;
  min-width: 18rem;
}

/* Estilos del Main Seccion Final */

main .final {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--rojo_b);
  background-image: url("../img/bg-simplify-section-desktop.svg");
  background-position: bottom;
  background-size: 80%;
  margin-top: 4rem;
  padding: 2rem 0;
}

main .final h2 {
  color: #ffffff;
  width: 30vw;
}

main .final button {
  color: var(--rojo_b);
  background-color: #ffffff;
  box-shadow: 0 0.2rem 1rem black;
  height: 1.8rem;
  padding: 0 1rem;
}

/* Estilos del Footer */

footer {
  display: flex;
  flex-direction: column;
}

footer .footer_top {
  background-color: var(--azul_m_o);
  display: flex;
  justify-content: space-evenly;
}

footer .content_left {
  display: flex;
  flex-direction: column;
}

footer .content_left img {
  margin: 2rem 0 1rem 0;
}

footer .content_left .social_media i {
  color: #ffffff;
  cursor: pointer;
  margin: 0 0.5rem 1rem;
  transition: all 0.4s;
}

footer .footer_top .listas {
  display: flex;
  justify-content: space-evenly;
}

footer ul {
  margin: 1rem 2rem;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: #ffffff;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.5s;
}

footer form {
  display: flex;
  align-items: center;
}

footer form input {
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 2.8rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

footer form button {
  height: 2rem;
  padding: 0 1rem;
}

footer .footer_bottom {
  background-color: var(--azul_m_o);
  display: flex;
  justify-content: center;
  height: 2rem;
}

footer .footer_bottom p {
  color: #ffffff;
  font-size: 0.7rem;
}

/* Estilos de acción */

button:hover {
  background-color: rgb(243, 121, 91);
}

header .menu ul li a:hover {
  color: var(--azul_g_o);
}

main .final button:hover {
  background-color: rgb(243, 121, 91);
  color: #ffffff;
}

footer .content_left .social_media i:hover {
  color: var(--rojo_b);
}

footer ul li a:hover {
  color: var(--rojo_b);
}

/* Diseño Responsive */

@media (max-width: 730px) {
  /* Estilos del Header */
  header {
    justify-content: space-between;
  }
  header .fa-bars {
    display: inline-block;
    font-size: 3rem;
    margin: 0 2rem;
  }
  header .menu, header button {
    display: none;
  }
  header img {
    margin: 4rem 2rem;
  }
  /* Estilos del Main */
  main .principal, main .media {
    flex-direction: column;
    align-items: center;
  }
  main .principal .content {
    padding: 0;
  }
  main .principal .content h1, main .principal .content p {
    width: 55vw;
    text-align: center;
  }
  main .principal .content img {
    margin: 1rem 0;
  }
  main .media .content {
  padding: 0;
  margin: 2rem 0;
  }
  main .media .content h2, main .media .content .funtion {
    margin: 1rem 0;
    width: 65vw;
    text-align: center;
  }
  main .final {
    flex-direction: column;
    align-items: center;
  }
  main .final h2 {
    text-align: center;
    width: 80vw;
    margin-bottom: 0.5rem;
  }
  /* Estilos del Footer */
  footer .footer_top {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_top .content_left {
    order: 2;
  }
  footer .footer_top .listas {
    order: 1;
  }
  footer .footer_top form {
    order: 0;
    margin-top: 1rem;
  }
  footer .content_left img {
    order: 1;
  }
  footer .content_left .social_media {
    order: 0;
  }
}

@media (max-width: 430px) {
  /* Estilos del Header */
  header .fa-bars {
    font-size: 2rem;
  }
  /* Estilos del Main */
  main .principal .content h1 {
    font-size: 2rem;
    width: 65vw;
  }
  main .principal .content p {
    font-size: 0.8rem;
  }
  main .media .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .media .content h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.8rem 0;
  }
  main .media .content h6 {
    text-align: center;
    width: 65vw;
  }
  main .media .content .funtion {
    font-size: 0.8rem;
    margin: 0.8rem 0;
  }
  main .media .content .content_item p {
    font-size: 0.8rem;
    width: 65vw;
  }
  main .media .content .content_item .item {
    left: -3rem;
    top: -2.2rem;
    padding: 0.3rem 0.7rem;
  }
}